In [1]:
!pip install db-sqlite3
import sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py): started
  Building wheel for db-sqlite3 (setup.py): finished with status 'done'
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1801 sha256=4a5eabf942941a12d5b64588160ea1c05803fad0709349511d04e7380339098f
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\9a\a0\6f\b4ceab4614797b65af7a296172bf4bdc106702d7f18beafa57
  Building wheel for db (setup.py): started
  Building wheel for db (setup.py): finished with status 'done'
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3899 sha256=3ce6a56083c53eca349e1e12505061ee99cd5a81d24316aa5d3521c642ec7920
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\43\94\01\2470e037a87c7f4fe93e4a110ee8c01b495d53db5de40b216b
  Building wheel for antiorm (setup.py): started
  Building wheel for antiorm (setup.py): finished with status 'done'
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31670 sha256=49ac526dfbb935df984098d7369e3e90084023f714cd317f7d4314918d7cfc29
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\23\fc\3e\c02e21af9692d533cae0374d54eb3502764cedb8a3edaf6e5c
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [2]:
conn=sqlite3.connect('exp2.db')
cur=conn.cursor()
conn = sqlite3.connect('test.db')
print ("Opened database successfully");

Opened database successfully

In [3]:
conn.execute('''CREATE TABLE COMPANY1
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully");

Table created successfully

In [4]:
conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY1 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully");

Records created successfully

In [5]:
for row in conn.execute('select * from COMPANY1'):
        print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [6]:
conn.commit()

In [7]:
conn.close()